NUXT_API_BASE_URL=
NUXT_API_TOKEN=
NUXT_GAME_EROGS_AUTOCOMPLETE_FILE=

NUXT_PUBLIC_SITE_URL=
NUXT_PUBLIC_OG_TITLE=
NUXT_PUBLIC_OG_DESCRIPTION=
NUXT_PUBLIC_OG_IMAGE=
NUXT_PUBLIC_OG_TYPE=
NUXT_PUBLIC_TWITTER_CARD=
